.mod-calendar{
	position: relative;
	width: 265px;
	/* background: #57abff; */
	background: #6F5499;
	overflow: hidden;
	*zoom:1;
	border-radius: 5px;
	
}
.mod-calendar a:hover{
	text-decoration: none;
}
.mod-calendar .info{
	width: 265px;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	*zoom:1;
}
.mod-calendar .info p{
	line-height: 22px;
}
.mod-calendar .info .day{
	width: 80px;
	height: 80px;
	margin: 15px auto 7px;
	line-height: 80px;
	font-size: 80px;
	border-radius: 2px;
}
.mod-calendar .info .festival{
	margin: 15px 10px;
	padding-top: 15px;
	border-top: 1px dotted #fefefe;
}

.changecal {
	text-decoration: underline;
	cursor: pointer;
}

.suitable {
	width: 28px;
	height: 23px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	background-color: #d70b30;
	margin-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
	display: inline-block;
	border-radius: 2px;
}

.inappropriate {
	width: 28px;
	height: 23px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	background-color: #0cc80b;;
	margin-right: 3px;
	margin-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
	display: inline-block;
	border-radius: 2px;
}

.workorothers {
	width: 20px;
	height: 18px;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
	background-color: hsl(34, 88%, 46%);
	margin-right: 2px;
	margin-left: 2px;
	color: #fff;
	display: inline-block;
	border-radius: 50px;
}

.today {
	width: 20px;
	height: 18px;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
	background-color: hsl(139.4, 89.7%, 22.9%);
	margin-right: 2px;
	margin-left: 2px;
	color: #fff;
	display: inline-block;
	border-radius: 50px;
}

.solar {
	width: 36px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
	background-color: hsl(308, 88%, 49%);
	margin-right: 1px;
	margin-left: 1px;
	color: #fff;
	display: inline-block;
	border-radius: 50px;
}

.lunar {
	width: 36px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: bolder;
	background-color: hsl(194, 78.6%, 43.9%);
	margin-right: 1px;
	margin-left: 1px;
	color: #fff;
	display: inline-block;
	border-radius: 50px;
}

.triangle-left {
	padding-right: 16px;
	color: #fff;
	cursor: pointer;
}

.triangle-right {
	padding-left: 16px;
	color: #fff;
	cursor: pointer;
}

 a:hover, a:focus {
	color: #f70000;
	outline:none;  
	-moz-outline:none;  
}

.vfestival {
	color: yellow;
}

.sub {
	margin-top: 10px;
}

.worktoday {
	display: inline-block;
	margin-left: -42px;
}

.worktoday li {
	list-style: none;
}

@media screen and (max-width: 359px) {
	.mod-time{
		width: 288px;
	}
	.mod-time .map{
		width: 320px;
		margin-left: -16px;
	}
}