.mod-calendar{
	position: relative;
	width: 265px;
	/* background: #57abff; */
	background: #6F5499;
	overflow: hidden;
	*zoom:1;
	border-radius: 5px;
	
}
.mod-calendar a:hover{
	text-decoration: none;
}
.mod-calendar .info{
	width: 265px;
	margin-top: 15px;
	text-align: center;
	color: #fff;
	*zoom:1;
}
.mod-calendar .info p{
	line-height: 22px;
}
.mod-calendar .info .day{
	width: 80px;
	height: 80px;
	margin: 15px auto 7px;
	line-height: 80px;
	font-size: 80px;
	border-radius: 2px;
}
.mod-calendar .info .festival{
	margin: 15px 10px;
	padding-top: 15px;
	border-top: 1px dotted #fefefe;
}

.changecal {
	text-decoration: underline;
	cursor: pointer;
}

.suitable {
	width: 28px;
	height: 23px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	background-color: #d70b30;
	margin-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
	display: inline-block;
}

.inappropriate {
	width: 28px;
	height: 23px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	background-color: #0cc80b;;
	margin-right: 3px;
	margin-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
	display: inline-block;
}

@media screen and (max-width: 359px) {
	.mod-time{
		width: 288px;
	}
	.mod-time .map{
		width: 320px;
		margin-left: -16px;
	}
}